.card{
    background: #fff;
    font-weight: 100;
    line-height: 1.8;
    color:#3c3c3c;
    padding: 10px;
    box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}
.card-header{

}
.card-image{

}
.card-body{

}
.card-footer{

}